accelerate
aiobotocore
aiohappyeyeballs
aiohttp
aiosignal
anyio
async-timeout
bitsandbytes
botocore
click
contourpy
faiss-cpu
fastapi
ffmpy
fonttools
fsspec
grpcio
httpcore
httpx
huggingface-hub
Jinja2
jiter
kiwisolver
matplotlib
ninja
openai
orjson
peft
propcache
protobuf
pyarrow
pydantic
pydantic_core
pyngrok
python-multipart
RapidFuzz
ruff
s3fs
scikit-learn
sentence-transformers
sse-starlette
starlette
timm
tqdm
typer
urllib3
uvicorn
wrapt
yarl
