accelerate==1.1.1
aiobotocore==2.15.2
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
anyio==4.0.0
async-timeout==4.0.3
bitsandbytes==0.44.1
botocore==1.35.36
click==8.1.7
contourpy==1.3.0
faiss-cpu==1.9.0
fastapi==0.115.4
ffmpy==0.4.0
fonttools==4.54.1
fsspec==2024.10.0
grpcio==1.67.1
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.26.2
Jinja2==3.1.4
jiter==0.7.0
kiwisolver==1.4.7
matplotlib==3.9.2
ninja==1.11.1.1
openai==1.54.3
orjson==3.10.11
peft==0.13.2
propcache==0.2.0
protobuf==5.28.3
pyarrow==18.0.0
pydantic==2.9.2
pydantic_core==2.23.4
pyngrok==7.2.1
python-multipart==0.0.17
RapidFuzz==3.10.1
ruff==0.7.3
s3fs==2024.10.0
scikit-learn==1.5.2
sentence-transformers==3.2.1
sse-starlette==2.1.3
starlette==0.41.2
timm==1.0.11
tqdm==4.67.0
typer==0.13.0
urllib3==2.2.3
uvicorn==0.32.0
wrapt==1.16.0
yarl==1.17.1
